# Data Analysis with Pandas
## Data Cleaning and Preparation

In [1]:
import numpy as np
import pandas as pd
from numpy import nan as NA

### Handling Missing Data

For numeric data, pandas uses the floating-point
value NaN (Not a Number) to represent missing data

In [2]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print("--- string_data ---")
print(string_data)
print("--- string_data.isnull() ---")
print(string_data.isnull())
string_data[0] = None
print("--- string_data.isnull() ---")
print(string_data.isnull())

--- string_data ---
0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
--- string_data.isnull() ---
0    False
1    False
2     True
3    False
dtype: bool
--- string_data.isnull() ---
0     True
1    False
2     True
3    False
dtype: bool

![NA handling methods](./photos/7.1.PNG)

In [3]:
data = pd.Series([1, NA, 3.5, NA, 7])
print("--- data ---")
print(data)
print("--- data.dropna() ---")
print(data.dropna())
print("--- data[data.notnull()] ---")
print(data[data.notnull()])

--- data ---
0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
--- data.dropna() ---
0    1.0
2    3.5
4    7.0
dtype: float64
--- data[data.notnull()] ---
0    1.0
2    3.5
4    7.0
dtype: float64

In [4]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], 
                     [NA, NA, NA], [NA, 6.5, 3.]], 
                    columns = list('abc'))
print("--- data ---")
print(data)
#remoe all rows that have null values
cleaned = data.dropna()
print("--- data.dropna() ---")
print(cleaned)

#how = all = remove rows only all data is NaN
# #Passing how='all' will only drop rows that are all NA:
cleaned = data.dropna(how='all')
print("--- data.dropna(how='all') ---")
print(cleaned)




# dropping columns that have all null values
print("--- data.dropna(axis=1) ---")
print(data.dropna(axis=1))

print("--- data.dropna(axis=1,how='all') ---")
print(data.dropna(axis=1,how='all'))

--- data ---
     a    b    c
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
--- data.dropna() ---
     a    b    c
0  1.0  6.5  3.0
--- data.dropna(how='all') ---
     a    b    c
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0
--- data.dropna(axis=1) ---
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
--- data.dropna(axis=1,how='all') ---
     a    b    c
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [5]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
print("--- df ---")
print(df)
print("--- df.dropna() ---")
print(df.dropna())
print("--- df.dropna(thresh=2) ---")
print(df.dropna(thresh=2))

--- df ---
          0         1         2
0 -0.679943       NaN       NaN
1 -0.037820       NaN       NaN
2  1.145347       NaN  0.441100
3 -0.116720       NaN -1.417526
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606
--- df.dropna() ---
          0         1         2
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606
--- df.dropna(thresh=2) ---
          0         1         2
2  1.145347       NaN  0.441100
3 -0.116720       NaN -1.417526
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606

###  Filling In Missing Data

In [6]:
print("--- df ---")
print(df)

print("--- df.fillna(0) ---")
print(df.fillna(0))

#Calling fillna with a dict, you can use a different fill value for each column:
# column number 1 will be filled with 0.5
# column number 2 will be fileld with 0
print("--- df.fillna({1: 0.5, 2: 0}) ---")
print(df.fillna({1: 0.5, 2: 0}))

_ = df.fillna(0, inplace=True)
print("--- df.fillna(0, inplace=True) ---")
print(df)

--- df ---
          0         1         2
0 -0.679943       NaN       NaN
1 -0.037820       NaN       NaN
2  1.145347       NaN  0.441100
3 -0.116720       NaN -1.417526
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606
--- df.fillna(0) ---
          0         1         2
0 -0.679943  0.000000  0.000000
1 -0.037820  0.000000  0.000000
2  1.145347  0.000000  0.441100
3 -0.116720  0.000000 -1.417526
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606
--- df.fillna({1: 0.5, 2: 0}) ---
          0         1         2
0 -0.679943  0.500000  0.000000
1 -0.037820  0.500000  0.000000
2  1.145347  0.500000  0.441100
3 -0.116720  0.500000 -1.417526
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606
--- df.fillna(0, inplace=True) ---
          0         1         2
0 -0.679943  0.000000  0.000000
1 -0.037820  0.000000  0.000000
2  1.145347  0.000000  0.441100
3 -0.116720  0.000000 -1.417526
4  0.435915  0.531607 -1.061078
5  0.414277  0.525652  0.084741
6  0.285529 -1.312479  2.222606

In [7]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
print("--- df ---")
print(df)
print("--- df.fillna(method='ffill') ---")
print(df.fillna(method='ffill'))
print("--- df.fillna(method='ffill', limit=2) ---")
print( df.fillna(method='ffill', limit=2))

--- df ---
          0         1         2
0  0.168025 -0.292455 -1.040591
1  0.499751 -0.061079  0.336884
2 -0.939787       NaN  0.382848
3 -0.588738       NaN -0.109706
4 -2.849239       NaN       NaN
5  0.789877       NaN       NaN
--- df.fillna(method='ffill') ---
          0         1         2
0  0.168025 -0.292455 -1.040591
1  0.499751 -0.061079  0.336884
2 -0.939787 -0.061079  0.382848
3 -0.588738 -0.061079 -0.109706
4 -2.849239 -0.061079 -0.109706
5  0.789877 -0.061079 -0.109706
--- df.fillna(method='ffill', limit=2) ---
          0         1         2
0  0.168025 -0.292455 -1.040591
1  0.499751 -0.061079  0.336884
2 -0.939787 -0.061079  0.382848
3 -0.588738 -0.061079 -0.109706
4 -2.849239       NaN -0.109706
5  0.789877       NaN -0.109706

In [8]:
data = pd.Series([1., NA, 3.5, NA, 7])
print("--- data ---")
print(data)
print("--- data.fillna(data.mean()) ---")
print(data.fillna(data.mean()))

--- data ---
0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
--- data.fillna(data.mean()) ---
0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

![fillna function arguments](./photos/7.2.PNG)

### Removing Duplicates

In [9]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],
                     'k2': [1, 1, 2, 3, 3, 4, 4]} )
print("--- data ---")
print(data)
print("---  data.duplicated() ---")
print( data.duplicated())
print("--- data.drop_duplicates() ---")
print(data.drop_duplicates())
data['v1'] = range(7)
print("--- data['v1'] = range(7) ---")
print(data)
print("--- data.drop_duplicates(['k1']) ---")
print(data.drop_duplicates(['k1']))
print("--- data.drop_duplicates(['k1', 'k2'], keep='last') ---")
print(data.drop_duplicates(['k1', 'k2'], keep='last'))

--- data ---
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
---  data.duplicated() ---
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool
--- data.drop_duplicates() ---
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
--- data['v1'] = range(7) ---
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6
--- data.drop_duplicates(['k1']) ---
    k1  k2  v1
0  one   1   0
1  two   1   1
--- data.drop_duplicates(['k1', 'k2'], keep='last') ---
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### Transforming Data Using a Function or Mapping

In [10]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'], 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
print("--- data ---")
print(data)
meat_to_animal = {
    'bacon': 'pig',
    'pulled pork': 'pig',
    'pastrami': 'cow',
    'corned beef': 'cow',
    'honey ham': 'pig',
    'nova lox': 'salmon'
}
lowercased = data['food'].str.lower()
print("--- data['food'].str.lower() ---")
print(data['food'].str.lower())
data['animal'] = lowercased.map(meat_to_animal)
print("--- lowercased.map(meat_to_animal) ---")
print(data)
print("--- data['food'].map(lambda x: meat_to_animal[x.lower()]) ---")
print(data['food'].map(lambda x: meat_to_animal[x.lower()]))

--- data ---
          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0
--- data['food'].str.lower() ---
0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
--- lowercased.map(meat_to_animal) ---
          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon
--- data['food'].map(lambda x: meat_to_animal[x.lower()]) ---
0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### Replacing Values

In [11]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
print("--- data ---")
print(data)
print("--- data.replace(-999, np.nan) ---")
print(data.replace(-999, np.nan))
print("--- data.replace([-999, -1000], [np.nan, 0]) ---")
print(data.replace([-999, -1000], [np.nan, 0]))
print("--- data.replace({-999: np.nan, -1000: 0}) ---")
print(data.replace({-999: np.nan, -1000: 0}))

--- data ---
0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64
--- data.replace(-999, np.nan) ---
0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64
--- data.replace([-999, -1000], [np.nan, 0]) ---
0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64
--- data.replace({-999: np.nan, -1000: 0}) ---
0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [12]:
df = pd.DataFrame(np.random.randn(7, 3))

df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
print("--- df ---")
print(df)
df = df.replace(np.nan , -999)
print("--- df.replace(np.nan , -999) ---")
print(df)
df = df.replace(-999 , -9)
print("--- df.replace(-999 , -9) ---")
print(df)
df = df.replace([-999, -9], [101, 0])
print("--- df.replace([-999, -9], [101, 0]) ---")
print(df)

--- df ---
          0         1         2
0 -1.148397       NaN       NaN
1  1.795614       NaN       NaN
2 -0.670738       NaN -0.853973
3  0.967954       NaN -0.784468
4 -1.563508 -1.744865 -0.645973
5  0.895845 -0.159216  1.192784
6  0.001175 -0.152563  0.909485
--- df.replace(np.nan , -999) ---
          0           1           2
0 -1.148397 -999.000000 -999.000000
1  1.795614 -999.000000 -999.000000
2 -0.670738 -999.000000   -0.853973
3  0.967954 -999.000000   -0.784468
4 -1.563508   -1.744865   -0.645973
5  0.895845   -0.159216    1.192784
6  0.001175   -0.152563    0.909485
--- df.replace(-999 , -9) ---
          0         1         2
0 -1.148397 -9.000000 -9.000000
1  1.795614 -9.000000 -9.000000
2 -0.670738 -9.000000 -0.853973
3  0.967954 -9.000000 -0.784468
4 -1.563508 -1.744865 -0.645973
5  0.895845 -0.159216  1.192784
6  0.001175 -0.152563  0.909485
--- df.replace([-999, -9], [101, 0]) ---
          0         1         2
0 -1.148397  0.000000  0.000000
1  1.795614  0.000000  0.000000
2 -0.670738  0.000000 -0.853973
3  0.967954  0.000000 -0.784468
4 -1.563508 -1.744865 -0.645973
5  0.895845 -0.159216  1.192784
6  0.001175 -0.152563  0.909485

### Renaming Axis Indexes using function mapping

In [13]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
        index=['Ohio', 'Colorado', 'New York'],
        columns=['one', 'two', 'three', 'four'])

print("--- data ---")
print(data)
transform = lambda x: x[:4].upper()
data.index = data.index.map(transform)
print("--- Edited data ---")
print(data)
print("--- Edited Column/index ---")
print(data.rename(index=str.title, columns=str.upper))
print("--- Renamed data ---")
print(data.rename(index={'OHIO': 'INDIANA'},columns={'three': 'peekaboo'}))
print("--- data.rename(index={'OHIO': 'INDIANA'}, inplace=True) ---")
data.rename(index={'OHIO': 'INDIANA'}, inplace=True)
print(data)

--- data ---
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11
--- Edited data ---
      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11
--- Edited Column/index ---
      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11
--- Renamed data ---
         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11
--- data.rename(index={'OHIO': 'INDIANA'}, inplace=True) ---
         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11


### Detecting and Filtering Outliers

In [14]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.033019     0.004520     0.052275     0.040059
std       0.980956     1.014489     1.006245     1.025283
min      -2.665377    -4.020264    -2.992643    -3.350816
25%      -0.713699    -0.635294    -0.645781    -0.611206
50%      -0.023690     0.007802     0.067010     0.052362
75%       0.626631     0.687330     0.763220     0.723670
max       3.109878     2.914637     2.922408     4.702511

In [15]:
col = data[2]
print(col)

0      0.138783
1      1.980084
2     -0.772041
3      0.951628
4     -0.814535
         ...
995    0.405361
996    1.405784
997    2.264397
998   -0.698024
999   -0.274826
Name: 2, Length: 1000, dtype: float64

In [16]:
col[np.abs(col) > 3]

Series([], Name: 2, dtype: float64)

In [17]:
# #To select all rows having a value exceeding 3 or â€“3, 
# #you can use the 'any' method on a boolean DataFrame:
# #any method will check all cells 
outliers = data[(np.abs(data) > 3).any(1)]
outliers

            0         1         2         3
18  -0.203787  1.033142 -1.482187 -3.350816
75   0.002778 -0.355550 -0.251939 -3.207230
262 -0.558317 -3.259105  0.751052 -2.523412
328  3.109878 -2.105683  1.149239  0.210786
348  1.365592  1.586028  1.474347  4.702511
628  3.029545  0.431539  1.111215  1.374976
717  0.564767 -3.069315  2.082571 -0.518542
741  0.648943 -0.221394 -0.688910  3.067887
810  2.021299 -4.020264  1.261771 -0.030297
845  0.144278  0.733017  0.125251 -3.031335

In [18]:
print(len(outliers), len(data))

10 1000

In [19]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [20]:
outliers = data[(np.abs(data) > 3).any(1)]
outliers

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

### Permutation and Random Sampling

In [21]:
# Permuting (randomly reordering)
# a Series or the rows in a DataFrame
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print( df.shape )
print(df)

(5, 4)
    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [22]:
sampler = np.random.permutation(4)
print(sampler)

[0 3 2 1]

In [23]:
df.take(sampler)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7

In [24]:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3

In [25]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

4    4
1    7
0    5
0    5
3    6
0    5
0    5
0    5
2   -1
1    7
dtype: int64

### String Object Methods
![Python built-in string methods](./photos/7.3.PNG)

### Regular Expressions

When you call re.split('\s+', text) , the regular expression is first compiled, and
then its split method is called on the passed text. You can compile the regex yourself
with re.compile , forming a reusable regex object:

In [26]:
import re
text = "foo    bar\t baz \tqux"
text

'foo    bar\t baz \tqux'

In [27]:
split = text.split()
split

['foo', 'bar', 'baz', 'qux']

In [28]:
re.split('\s+', text) # spliting based on whitespaces

['foo', 'bar', 'baz', 'qux']

In [29]:
text.split(" ")

['foo', '', '', '', 'bar\t', 'baz', '\tqux']

In [30]:
# compile once to use again and again and save time
rgx = re.compile('\s+')
rgx.split(text)

['foo', 'bar', 'baz', 'qux']

In [31]:
rgx.findall(text)

['    ', '\t ', ' \t']

In [32]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
print(text)
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
print(pattern)

Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com

[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}

In [33]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [34]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [35]:
m = regex.search(text)
m

In [36]:
text[m.start():m.end()]

'dave@google.com'

In [37]:
print(regex.match(text))

None

In [38]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
pattern
regex = re.compile(pattern, flags=re.IGNORECASE)

In [39]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'net')

In [40]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [41]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

![Regular expression methods](./photos/7.4.PNG)

### Vectorized String Functions in pandas

In [42]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
print(data)

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [43]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [44]:
data.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [45]:
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [46]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [47]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [48]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

![Partial listing of vectorized string methods](./photos/7.5.PNG)
![Partial listing of vectorized string methods](./photos/7.6.PNG)